<div class="content">
  <!-- HEADER START -->
  <div class="header">
    <div class="logo-container">
      <img src="assets/images/logo.svg" alt="logo" width="180em" />
      <span>Task Mastery</span>
    </div>
    <!-- <button class="sign-up-container">
      <span>Don't have an account?</span>
      <div class="btn-primary">
        <a routerLink="/sign-up">Sign Up</a>
      </div>
    </button> -->
  </div>
  <!-- CONTENT -->
  <router-outlet class="r-outlet"></router-outlet>
  <!-- CONTENT END -->
</div>
