.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  transition: backdrop-filter 3s ease-in-out;
  backdrop-filter: blur(5px);
}

header {
  h1:first-letter {
    text-transform: uppercase;
  }
  img {
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: invert(1);
      background-color: #d5c9b8;
    }
  }
  .category-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    // background-color: #f73;
    border-radius: 10px;
    span {
      color: #fff;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .header-title {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    h5 {
      filter: opacity(0.5);
    }
    @media screen and (max-width: 490px) {
      flex-direction: column;
      align-items: flex-start;
      line-height: 0.625rem;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: row !important;
  }
}

.status-input {
  .select {
    position: relative;
  }
  .status-text {
    font-size: 0.875rem;
  }
  .input {
    min-width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #f6f7f8;
    }
    .status {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      transition: all 0.3s ease-in-out;
      &.active {
        background-color: #29abe2;
        border: 1px solid #29abe2;
      }
    }

    img {
      all: unset;
      transition: all 300ms ease-in-out;
    }
  }
  .dropdown {
    position: absolute;
    width: 100%;
    transform: translateY(-6px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    animation: animate 300ms ease-in-out;
    overflow: hidden;
    z-index: 999;
    @keyframes animate {
      from {
        opacity: 0;
        height: 0px;
      }
      to {
        opacity: 1;
        height: 130px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      overflow: auto;
      z-index: 10;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        transition: background 225ms ease-in-out;

        img {
          width: 16px;
        }

        &:hover {
          cursor: pointer;
          background-color: #f6f7f8;
        }
      }
    }
    .dropdown-add {
      width: 20px;
    }
  }
}

.overlay {
  width: fit-content;
  min-width: 55rem;
  overflow-y: auto;
  position: absolute;
  background-color: #f6f7f8;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  z-index: 5001;
  @media screen and (max-width: 890px) {
    width: 100%;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
