<div
  @backdrop
  *ngIf="animIsRunning"
  class="wrapper"
  (click)="overlayService.hide()"
>
  <div
    *ngIf="show"
    [@state]="show ? 'visible' : 'hidden'"
    (@state.done)="overlayBoxAnimation($event)"
    (click)="$event.stopPropagation()"
    class="overlay"
  >
    <img
      class="close"
      (click)="overlayService.hide()"
      src="assets/images/close.svg"
      alt=""
    />
    <div class="banner">
      <div class="banner-title">
        <img src="assets/images/logo.svg" alt="" />
        <div>
          <h1>{{ title }}</h1>
          <span>{{ subtitle }}</span>
        </div>
      </div>
      <div class="contact-image">
        <img src="assets/images/1.jpg" alt="" />
      </div>
    </div>
    <div class="body" *ngIf="component">
      <ng-container [ngSwitch]="component">
        <ng-container *ngSwitchCase="'contact'">
          <app-contact></app-contact>
        </ng-container>
        <!-- // TODO: Add other Components -->
        <ng-container *ngSwitchCase="'profile'">
          <app-profile></app-profile>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
