<div class="wrapper">
  <!-- SideNav -->
  <div class="sidenav">
    <div class="top-corner">
      <div class="logo">
        <img src="assets/images/logo_w.svg" width="180em" alt="logo" />
        <span>Task Mastery</span>
      </div>
    </div>
    <div class="nav-links">
      <!-- Top links -->
      <div class="links">
        <ul>
          <li
            routerLink="{{ nav.path }}"
            routerLinkActive="active"
            *ngFor="let nav of navLinks; let i = index"
          >
            <div class="icon">
              <img src="assets/images/{{ nav.icon }}.svg" alt="icon" />
            </div>
            <span>{{ nav.label }}</span>
          </li>
        </ul>
      </div>
      <!-- Bottom links -->
      <div class="mobile links">
        <ul>
          <li
            routerLink="{{ nav.path }}"
            routerLinkActive="active"
            *ngFor="let nav of legalLinks; let i = index"
          >
            <div class="icon">
              <img src="assets/images/{{ nav.icon }}.svg" alt="icon" />
            </div>
            <span>{{ nav.label }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Right Side Content -->
  <div class="home-content">
    <!-- NavBar -->
    <div class="navbar">
      <div>
        <img
          src="assets/images/logo.svg"
          width="120em"
          class="logo"
          alt="logo"
        />
      </div>
      <div (click)="toggleMenuDropdown()" class="user">
        <div id="menu" class="user-button">
          <div class="user-name">John Doe</div>
          <div class="user-avatar">
            <img src="assets/images/1.png" alt="avatar" />
          </div>
        </div>
        <div *ngIf="menuDropdown" class="menu">
          <ul>
            <li>
              <img src="assets/images/person.svg" alt="" />
              <span>Profile</span>
            </li>
            <li routerLink="help">
              <img src="assets/images/help.svg" alt="" />
              <span>Help</span>
            </li>
            <li routerLink="login">
              <img src="assets/images/logout.svg" alt="" />
              <span>Logout</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
