<div class="wrapper">
  <!-- SideNav -->
  <div class="sidenav">
    <div class="top-corner">
      <div class="logo">
        <img src="assets/images/logo_w.svg" width="180em" alt="logo" />
        <span>Task Mastery</span>
      </div>
    </div>
    <div class="nav-links">
      <!-- Top links -->
      <div class="links">
        <ul>
          <li
            routerLink="{{ nav.path }}"
            (click)="showSnackbar()"
            routerLinkActive="active"
            *ngFor="let nav of navLinks; let i = index"
          >
            <div class="icon">
              <img src="assets/images/{{ nav.icon }}.svg" alt="icon" />
            </div>
            <span>{{ nav.label }}</span>
          </li>
        </ul>
      </div>
      <!-- Bottom links -->
      <div class="links">
        <ul>
          <li
            routerLink="{{ nav.path }}"
            (click)="showSnackbar()"
            routerLinkActive="active"
            *ngFor="let nav of legalLinks; let i = index"
          >
            <div class="icon">
              <img src="assets/images/{{ nav.icon }}.svg" alt="icon" />
            </div>
            <span>{{ nav.label }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Right Side Content -->
  <div class="content">
    <!-- NavBar -->
    <div class="navbar">
      <div>Kanban Project Management Tool</div>
      <div class="user">
        <div class="user-name">John Doe</div>
        <div class="user-avatar">
          <img src="assets/images/person.svg" alt="avatar" />
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
