.snackbar {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #eee8;
  box-shadow: 0 0 10px #0001;
  border-radius: 6px;
  z-index: 9999;
  &.success {
    background: linear-gradient(0deg, #5ed87a6a 30%, #a1fbae 100%);
  }
  &.error {
    background: linear-gradient(0deg, #ec6969 30%, #ff9a9a 100%);
  }
}

.snackbar-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .snackbar-message {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    color: #333;
  }
  img {
    filter: opacity(0.5);
  }
}
