.snackbar {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ddd;
  border-radius: 6px;
  overflow: hidden;
  &.success {
    background-color: #5ed87a6a;
  }
  &.error {
    background-color: #ec6969;
  }
}

.snackbar-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .snackbar-message {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    color: #333;
  }
}
