<div class="wrapper">
  <div class="login-container">
    <div class="headline poppins">
      Welcome!<br />
      Sign up to get started.
    </div>
    <!-- Name -->
    <div class="login-input">
      <div class="input-box">
        <div class="input">
          <input type="text" placeholder="Full Name" />
        </div>
        <div class="icon">
          <img src="assets/images/person.svg" alt="email" />
        </div>
      </div>
      <!-- Email -->
      <div class="login-input">
        <div class="input-box">
          <div class="input">
            <input type="email" placeholder="Email" />
          </div>
          <div class="icon">
            <img src="assets/images/mail_icon.svg" alt="email" />
          </div>
        </div>
        <!-- Password -->
        <div class="login-input">
          <div class="input-box">
            <div class="input">
              <input type="password" placeholder="Password" />
            </div>
            <div class="icon">
              <img src="assets/images/key_icon.svg" alt="email" />
            </div>
          </div>
          <!-- Login Button -->
          <button routerLink="" class="btn-primary w-full text-center mb-3">
            Sign Up
          </button>
          <!-- Guest Login -->
          <button routerLink="" class="btn-secondary w-full text-center mb-3">
            <div class="flex items-center justify-center gap-2">
              <!-- <img src="assets/images/arrow_left.svg" alt="arrow-back" /> -->
              <span> Go Back </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
