<div class="wrapper">
  <div class="login-container">
    <div class="headline poppins">
      Welcome!<br />
      Sign up to get started.
    </div>
    <!-- Name -->
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="login-input">
      <div class="input-box">
        <div class="input">
          <input
            type="text"
            placeholder="Full Name"
            formControlName="name"
            spellcheck="false"
          />
        </div>
        <div class="icon">
          <img src="assets/images/person.svg" alt="email" />
        </div>
      </div>
      <div
        class="form-err"
        *ngIf="
          signupForm.controls['name'].invalid &&
          signupForm.controls['name'].touched
        "
      >
        Please enter your full name (min {{ minNameLength }} characters)
      </div>
      <!-- Email -->
      <div class="login-input">
        <div class="input-box">
          <div class="input">
            <input
              type="email"
              placeholder="Email"
              formControlName="email"
              spellcheck="false"
            />
          </div>
          <div class="icon">
            <img src="assets/images/mail_icon.svg" alt="email" />
          </div>
        </div>
        <div
          class="form-err"
          *ngIf="
            signupForm.controls['email'].invalid &&
            signupForm.controls['email'].touched
          "
        >
          Please enter a valid email
        </div>
        <!-- Password -->
        <div class="login-input">
          <div class="input-box">
            <div class="input">
              <input
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="icon">
              <img src="assets/images/key_icon.svg" alt="email" />
            </div>
          </div>
          <div
            class="form-err"
            *ngIf="
              signupForm.controls['password'].invalid &&
              signupForm.controls['password'].touched
            "
          >
            Password required (min {{ minPasswordLength }} characters)
          </div>
          <!-- Login Button -->
          <button
            [ngClass]="{
              'btn-primary': signupForm.valid,
              'btn-primary-disabled': !signupForm.valid
            }"
            type="submit"
            [disabled]="!signupForm.valid"
            class="w-full text-center mb-3"
          >
            Sign Up
          </button>
          <!-- Guest Login -->
          <button routerLink="" class="btn-secondary w-full text-center mb-3">
            <div class="flex items-center justify-center gap-2">
              <!-- <img src="assets/images/arrow_left.svg" alt="arrow-back" /> -->
              <span> Go Back </span>
            </div>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
