<form action="" class="profile-wrapper">
  <div class="infos">
    <div class="left">
      <div class="profile-img">
        <img src="assets/images/1.jpg" alt="" />
      </div>
    </div>
    <div class="input-box">
      <div class="input">
        <img src="assets/images/person.svg" />
        <input value="Elon Musk" autocomplete="off" type="text" id="name" />
      </div>
      <div class="input">
        <img src="assets/images/mail_icon.svg" />
        <input
          value="elon.musk@tesla.com"
          autocomplete="off"
          type="email"
          id="email"
        />
      </div>
      <div class="input">
        <img src="assets/images/phone.svg" />
        <input value="0176828245" autocomplete="off" type="number" id="phone" />
      </div>
    </div>
  </div>

  <div class="w-full">
    <button class="btn-primary w-full">Save</button>
  </div>
</form>
