<div class="content-wrapper">
  <header>
    <h1>Board</h1>
    <div class="right-input">
      <div class="search">
        <input
          type="text"
          (input)="onInputChange($event)"
          placeholder="Find task"
        />
        <img src="assets/images/search.svg" alt="search" />
      </div>
      <div (click)="overlayService.show('add-task', 'standard')" class="add">
        <button class="btn btn-primary">Add Task</button>
      </div>
    </div>
  </header>
  <div class="content" *ngIf="!isLoading">
    <!-- TO DO -->
    <div class="all-tasks">
      <div class="task-box">
        <div class="head">
          <div class="name">To Do</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'To Do')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div
          id="todo"
          [ngClass]="{ dragging: isDragging }"
          class="tasks"
          cdkDropList
          [cdkDropListConnectedTo]="['progress', 'feedback', 'done']"
          [cdkDropListData]="toDo"
          (cdkDropListDropped)="dropTask($event)"
        >
          <app-task-box
            class="task"
            *ngFor="let task of toDo"
            [task]="task"
            cdkDrag
            (cdkDragStarted)="toggleDragState()"
            (cdkDragEnded)="toggleDragState()"
          ></app-task-box>
          <div class="tasks" *ngIf="toDo.length <= 0 && !isDragging">
            <div class="empty">
              <div class="box">
                <img src="assets/images/empty.svg" alt="empty" />
                <span>No tasks here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- In Progress -->
      <div class="task-box">
        <div class="head">
          <div class="name">In Progress</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'In Progress')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div
          id="progress"
          [ngClass]="{ dragging: isDragging }"
          class="tasks"
          cdkDropList
          [cdkDropListConnectedTo]="['todo', 'feedback', 'done']"
          [cdkDropListData]="inProgress"
          (cdkDropListDropped)="dropTask($event)"
        >
          <app-task-box
            *ngFor="let progress of inProgress"
            [task]="progress"
            cdkDrag
            (cdkDragStarted)="toggleDragState()"
            (cdkDragEnded)="toggleDragState()"
          ></app-task-box>
          <div class="tasks" *ngIf="inProgress.length <= 0 && !isDragging">
            <div class="empty">
              <div class="box">
                <img src="assets/images/empty.svg" alt="empty" />
                <span>No tasks here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Awaiting Feedback -->
      <div class="task-box">
        <div class="head">
          <div class="name">Awaiting Feedback</div>
          <div
            (click)="
              overlayService.show('add-task', 'standard', 'Awaiting Feedback')
            "
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div
          id="feedback"
          [ngClass]="{ dragging: isDragging }"
          class="tasks"
          cdkDropList
          [cdkDropListConnectedTo]="['progress', 'todo', 'done']"
          [cdkDropListData]="inReview"
          (cdkDropListDropped)="dropTask($event)"
        >
          <app-task-box
            *ngFor="let review of inReview"
            [task]="review"
            cdkDrag
            (cdkDragStarted)="toggleDragState()"
            (cdkDragEnded)="toggleDragState()"
          ></app-task-box>
          <div class="tasks" *ngIf="inReview.length <= 0 && !isDragging">
            <div class="empty">
              <div class="box">
                <img src="assets/images/empty.svg" alt="empty" />
                <span>No tasks here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Done -->
      <div class="task-box">
        <div class="head">
          <div class="name">Done</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'Done')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div
          id="done"
          [ngClass]="{ dragging: isDragging }"
          class="tasks"
          cdkDropList
          [cdkDropListConnectedTo]="['progress', 'todo', 'feedback']"
          [cdkDropListData]="done"
          (cdkDropListDropped)="dropTask($event)"
        >
          <app-task-box
            *ngFor="let isDone of done"
            [task]="isDone"
            cdkDrag
            (cdkDragStarted)="toggleDragState()"
            (cdkDragEnded)="toggleDragState()"
          ></app-task-box>
          <div class="" *ngIf="done.length <= 0 && !isDragging">
            <div class="empty">
              <div class="box">
                <img src="assets/images/empty.svg" alt="empty" />
                <span>No tasks here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ENDE -->
    </div>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
