<div class="content-wrapper">
  <header>
    <h1>Board</h1>
    <div class="right-input">
      <div class="search">
        <input type="text" placeholder="Find task" />
        <img src="assets/images/search.svg" alt="search" />
      </div>
      <div (click)="overlayService.show('add-task', 'standard')" class="add">
        <button class="btn btn-primary">Add Task</button>
      </div>
    </div>
  </header>
  <div class="content">
    <!-- TO DO -->
    <div class="all-tasks">
      <div class="task-box">
        <div class="head">
          <div class="name">To Do</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'To Do')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div class="tasks">
          <app-task-box></app-task-box>
        </div>
      </div>
      <!-- In Progress -->
      <div class="task-box">
        <div class="head">
          <div class="name">In Progress</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'In Progress')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div class="tasks">
          <app-task-box></app-task-box>
        </div>
      </div>
      <!-- Awaiting Feedback -->
      <div class="task-box">
        <div class="head">
          <div class="name">Awaiting Feedback</div>
          <div
            (click)="
              overlayService.show('add-task', 'standard', 'Awaiting Feedback')
            "
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div class="tasks">
          <app-task-box></app-task-box>
        </div>
      </div>
      <!-- Done -->
      <div class="task-box">
        <div class="head">
          <div class="name">Done</div>
          <div
            (click)="overlayService.show('add-task', 'standard', 'Done')"
            class="add"
          >
            <img src="assets/images/add.svg" alt="add" />
          </div>
        </div>
        <div class="tasks">
          <app-task-box></app-task-box>
        </div>
      </div>
      <!-- ENDE -->
    </div>
  </div>
</div>
