.right-input {
  display: flex;
  gap: 10px;
  .search {
    min-width: 120px;
    display: flex;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    input {
      border: none;
      outline: none;
      width: 100%;
    }
    img {
      filter: opacity(0.1);
    }
  }
}

.all-tasks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .task-box {
    flex: 1;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      gap: 20px;
      margin-bottom: 10px;
      font-family: "Inter", sans-serif;
      font-size: clamp(0.875rem, 5vw, 1.125rem);
      .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .add {
        width: 25px;
        img {
          opacity: 0.8;
          cursor: pointer;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .task-box {
      flex: 1 1 49%;
    }
  }

  // @media screen and (max-width: 767px) {
  //   .task-box {
  //     flex: 1 100%;
  //   }
  // }
}
