header {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content-wrapper {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.top {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  img:nth-child(2) {
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: invert(1);
      background-color: #d5c9b8;
    }
  }
}

.contact-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  .contact-list {
    overflow-y: scroll;
    width: 350px;
    height: calc(100% - 80px);
    background: linear-gradient(180deg, #fff0, #fff);
    box-shadow: 5px 0 10px #0001;
    padding: 0.625rem 1.25rem;
    @media screen and (max-width: 1023px) {
      padding-bottom: 80px;
      width: 100%;
    }
    .header {
      padding: 0.3125rem 0.625rem;
      border-bottom: 1px solid #0001;
      margin-bottom: 10px;
      font-family: "Inter", sans-serif;
    }
    .active {
      background-color: #2a3647;
      .name {
        color: #fff;
      }
    }
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.25rem;
      padding: 0.625rem 1rem;
      margin-bottom: 0.3125rem;
      border-radius: 12px;
      transition: background-color 0.125s ease-in-out;
      user-select: none;

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 95%;
          height: 95%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .info {
        flex: 1;
        font-family: "Poppins", sans-serif;
        .email {
          max-width: fit-content;
          white-space: nowrap;
          font-size: 0.75rem;
          color: #29abe2;
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
        background-color: #00000008;
      }
    }
  }
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  .placeholder {
    span:nth-child(1) {
      width: fit-content;
      font-size: 1rem;
      font-family: "Inter", sans-serif;
      border-right: #29abe2 3px solid;
      padding-right: 1rem;
      margin-right: 1rem;
    }
  }
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  .avatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    .name {
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
    }
    .add-task {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      filter: invert(61%) sepia(26%) saturate(1310%) hue-rotate(155deg) brightness(92%) contrast(93%);
      img {
        width: 18px;
        height: 18px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.contact-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    .edit {
      display: inline-flex;
      align-items: center;
      gap: 0.3rem;
      cursor: pointer;
      img {
        width: 18px;
        height: 18px;
        filter: invert(1);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .infos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    .info {
      .label {
        font-weight: 600;
      }
    }
    a {
      color: #29abe2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-height: 600px) {
    padding-bottom: 100px;
  }
}
