<div class="contact-wrapper">
  <div class="contact-list" *ngIf="showContact">
    <ng-container *ngFor="let letter of getContactDictionaryKeys()">
      <div class="header">
        <div class="header-letter">{{ letter }}</div>
      </div>
      <div
        class="item"
        *ngFor="let contact of contactDictionary[letter]"
        [class.active]="selectedContact.contact_id === contact.contact_id"
        (click)="openContact(contact.contact_id)"
      >
        <div class="avatar" (click)="getCurrentWindowWidth()">
          <img [src]="contact.image || 'assets/images/1.jpg'" alt="avatar" />
        </div>
        <div class="info">
          <div class="name">{{ contact.name }}</div>
          <div class="email">{{ contact.email }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="content-wrapper">
    <header>
      <h1 (click)="test()">Contacts</h1>
      <div class="right-input">
        <div class="add">
          <button class="btn btn-primary">Add contact</button>
        </div>
      </div>
    </header>
    <div
      class="contact-content"
      *ngIf="showContact && selectedContact.name.length > 0"
    >
      <div class="contact-header">
        <div class="avatar">
          <img
            [src]="selectedContact.image || 'assets/images/1.jpg'"
            alt="avatar"
          />
        </div>
        <div class="info">
          <div class="name">{{ selectedContact.name }}</div>
          <div class="add-task">
            <img src="assets/images/plus.svg" alt="" />
            <span>Add task</span>
          </div>
        </div>
      </div>
      <div class="contact-body">
        <div class="head">
          <div class="title">Contact information</div>
          <div class="edit">
            <img src="assets/images/pencilToDo.svg" alt="" />
            <span>Edit contact</span>
          </div>
        </div>
        <div class="infos">
          <div *ngIf="selectedContact.email.length > 0" class="info">
            <div class="label">Email</div>
            <div class="value">
              <a href="mailto:{{ selectedContact.email }}">
                {{ selectedContact.email }}</a
              >
            </div>
          </div>
          <div *ngIf="selectedContact.phone.length > 0" class="info">
            <div class="label">Phone</div>
            <div class="value">
              <a href="tel:{{ selectedContact.phone }}">
                {{ selectedContact.phone }}</a
              >
            </div>
          </div>
          <div *ngIf="selectedContact.location.length > 0" class="info">
            <div class="label">Location</div>
            <div class="value">{{ selectedContact.location }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-content" *ngIf="selectedContact.name.length === 0">
      <div class="placeholder">
        <span>Better with a team</span>
        <span>Select or add a new contact.</span>
      </div>
    </div>
  </div>
</div>
