<form action="" class="profile-wrapper">
  <div class="infos">
    <div class="input-box">
      <div class="input">
        <img src="assets/images/person.svg" />
        <input
          value="{{ contact?.name || '' }}"
          autocomplete="off"
          type="text"
          id="name"
          placeholder="Full Name"
        />
      </div>
      <div class="input">
        <img src="assets/images/mail_icon.svg" />
        <input
          value="{{ contact?.email || '' }}"
          autocomplete="off"
          type="email"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="input">
        <img src="assets/images/phone.svg" />
        <input
          value="{{ contact?.phone || '' }}"
          autocomplete="off"
          type="number"
          id="phone"
          placeholder="Phone"
        />
      </div>
      <div class="input">
        <img src="assets/images/location.svg" />
        <input
          value="{{ contact?.location || '' }}"
          autocomplete="off"
          type="text"
          id="location"
          placeholder="Location"
        />
      </div>
    </div>
  </div>

  <div class="w-full">
    <div *ngIf="type === 'add'" class="type-add">
      <button class="btn-primary w-full">Add</button>
    </div>
    <div *ngIf="type === 'edit'" class="type-edit">
      <button class="delete btn-secondary w-full">Delete</button>
      <button class="btn-primary w-full">Save</button>
    </div>
  </div>
</form>
