<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit(submitType, contact?.contact_id)"
  class="profile-wrapper"
>
  <div class="infos">
    <div class="input-box">
      <div class="input">
        <img src="assets/images/person.svg" />
        <input
          autocomplete="off"
          spellcheck="false"
          type="text"
          id="name"
          placeholder="Full Name"
          formControlName="name"
        />
        <div
          class="form-error"
          *ngIf="
            contactForm.controls['name'].invalid &&
            contactForm.controls['name'].touched
          "
        >
          Please enter the full name (min {{ minNameLength }} characters)
        </div>
      </div>

      <div class="input">
        <img src="assets/images/mail_icon.svg" />
        <input
          autocomplete="off"
          spellcheck="false"
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <div
          class="form-error"
          *ngIf="
            contactForm.controls['email'].invalid &&
            contactForm.controls['email'].touched
          "
        >
          Please enter a valid email
        </div>
      </div>
      <div class="input">
        <img src="assets/images/phone.svg" />
        <input
          autocomplete="off"
          spellcheck="false"
          type="number"
          id="phone"
          placeholder="Phone"
          formControlName="phone"
        />
      </div>
      <div class="input">
        <img src="assets/images/location.svg" />
        <input
          autocomplete="off"
          spellcheck="false"
          type="text"
          id="location"
          placeholder="Location"
          formControlName="location"
        />
        <div
          class="form-error"
          *ngIf="
            contactForm.controls['location'].invalid &&
            contactForm.controls['location'].touched
          "
        >
          e.g. "Berlin, Germany" (min
          {{ minLocationLength }} characters)
        </div>
      </div>
    </div>
  </div>

  <div class="w-full">
    <div *ngIf="type === 'add'" class="type-add">
      <button
        #addBtn
        class="btn-primary w-full"
        [ngClass]="{
          'btn-primary': contactForm.valid,
          'btn-primary-disabled': !contactForm.valid
        }"
        [disabled]="!contactForm.valid"
        (click)="submitType = 'add'"
      >
        Add
      </button>
    </div>
    <div *ngIf="type === 'edit'" class="type-edit mb-4">
      <button
        type="button"
        class="delete btn-secondary w-full"
        (click)="deleteContact(contact)"
      >
        Delete
      </button>
      <button
        #updateBtn
        class="btn-primary w-full"
        [ngClass]="{
          'btn-primary': contactForm.valid,
          'btn-primary-disabled': !contactForm.valid
        }"
        [disabled]="!contactForm.valid"
        (click)="submitType = 'update'"
      >
        Save
      </button>
    </div>
  </div>
</form>
