<div class="task-box" (click)="overlay.show('task', 'standard', '', '', task)">
  <div class="head">
    <div class="top">
      <div [ngClass]="getCategoryColor(task.category)" class="tag">
        {{ getCategoryName(task.category) }}
      </div>
      <img src="assets/images/clickable.svg" alt="" />
    </div>

    <span class="title"> {{ task.title }}</span>
  </div>
  <span class="description">
    {{ task.description }}
  </span>
  <div class="progress">
    <progress
      [value]="
        (getSubtaskStatus(task.subtasks) / task.subtasks.length) * 100 || 0
      "
      max="100"
      min="0"
    ></progress>
    <span
      >{{ getSubtaskStatus(task.subtasks) }} /
      {{ task.subtasks.length }} Done</span
    >
  </div>
  <div class="footer">
    <div class="contacts">
      <div
        *ngFor="
          let assignee of task.assignees.slice(0, displayedAssignees);
          let i = index
        "
        class="contact"
        [style.left.px]="i * 20"
      >
        <img
          [src]="getAssigneeImage(assignee) || 'assets/images/1.jpg'"
          alt="user"
        />
      </div>
      <div
        *ngIf="task.assignees.length > displayedAssignees"
        class="contact remaining-contacts"
        [style.left.px]="displayedAssignees * 20"
      >
        <span>+{{ task.assignees.length - displayedAssignees }}</span>
      </div>
    </div>
    <div class="priority">
      <img src="assets/images/{{ task.priority }}.svg" alt="priority" />
    </div>
  </div>
</div>
