<div class="task-box">
  <div class="head">
    <div class="tag">Marketing</div>
    <span class="title">Create a new logo</span>
  </div>
  <span class="description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. In neque placeat
    illo minima eveniet dolores itaque sint optio laudantium consectetur eaque
    saepe vero obcaecati doloribus, iste quidem suscipit fugit eos!
  </span>
  <div class="progress">
    <progress value="70" max="100" min="0"></progress>
    <span>2 / 3 Done</span>
  </div>
  <div class="footer">
    <div class="contacts">
      <div
        *ngFor="let counter of [0, 0, 0, 0]; let i = index"
        class="contact"
        [style.left.px]="i * 20"
      >
        <img src="assets/images/1.png" alt="user" />
      </div>
    </div>
    <div class="priority">
      <img src="assets/images/urgent.svg" alt="priority" />
    </div>
  </div>
</div>
