<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="add-task-wrapper">
  <div class="left">
    <!-- Title -->
    <div class="form-input">
      <label class="title">Title</label>
      <div class="input">
        <input
          autocomplete="off"
          spellcheck="false"
          type="text"
          formControlName="title"
        />
      </div>
    </div>
    <!-- Description -->
    <div class="form-input">
      <label class="title">Description</label>
      <div class="input textarea">
        <textarea
          autocomplete="off"
          spellcheck="false"
          type="text"
          formControlName="description"
        ></textarea>
      </div>
    </div>
    <!-- Catagory -->
    <div class="form-input">
      <label class="title">Category</label>
      <div *ngIf="!categoryInputActive" class="select">
        <div class="input" (click)="toggleCategoryDropdown()">
          <span class="selecter">{{ categoryText }}</span>
          <img
            [ngClass]="{ rotate180: categoryDropdown }"
            src="assets/images/dropdown.svg"
          />
        </div>
        <div *ngIf="categoryDropdown" class="dropdown">
          <ul>
            <li (click)="toggleNewCategory()">
              <span>Create new category</span>
              <img class="dropdown-add" src="assets/images/plus.svg" alt="" />
            </li>
            <li
              (click)="addCategory(category)"
              *ngFor="let category of categories"
            >
              <span>{{ category.name }}</span>
              <div class="circle-box">
                <div class="circle {{ category.color }}"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- own category input -->
      <div *ngIf="categoryInputActive" class="input">
        <input type="text" id="category" />
        <div class="create-sub">
          <div class="cancel-accept">
            <img (click)="toggleNewCategory()" src="assets/images/close.svg" />
            <div class="divide"></div>
            <img (click)="createNewCategory()" src="assets/images/check.svg" />
          </div>
        </div>
      </div>
      <!-- Category Color Selection -->
      <div *ngIf="categoryInputActive" class="select-color">
        <div *ngFor="let color of categoryColors" class="circle-box">
          <div
            class="circle {{ color }}"
            [class.selected]="color === selectedColor"
            (click)="changeColor(color)"
          ></div>
        </div>
      </div>
    </div>
    <!-- Assign to -->
    <div class="form-input">
      <label class="title">Assign to</label>
      <div class="select">
        <div class="input" (click)="toggleAssigneeDropdown()">
          <span class="selecter">Select or invite contact to assign</span>
          <img
            [ngClass]="{ rotate180: assigneeDropdown }"
            src="assets/images/dropdown.svg"
          />
        </div>
        <div *ngIf="assigneeDropdown" class="dropdown">
          <ul>
            <li
              (click)="addAssignee(checkbox, contact.contact_id)"
              *ngFor="let contact of contacts"
            >
              <span>{{ contact.name }}</span>
              <input
                #checkbox
                type="checkbox"
                [checked]="assignees.includes(toNumber(contact.contact_id))"
                [disabled]="
                  !(this.directlyAssigned === this.toNumber(contact.contact_id))
                "
              />
            </li>
            <li (click)="inviteContact()">
              <span class="font-semibold">Invite new contact</span>
              <img
                class="dropdown-add"
                src="assets/images/acc_box.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Divide Line -->
  <div class="divide-line"></div>
  <div class="right">
    <!-- Due Date -->
    <div class="form-input">
      <label class="title">Due Date</label>
      <div class="input">
        <input
          type="date"
          [min]="currentDate"
          [value]="currentDate"
          formControlName="due_date"
        />
      </div>
    </div>
    <!-- Priority -->
    <div class="form-input">
      <label class="title">Priority</label>
      <div class="prio">
        <div
          #low
          (click)="changePriority('low')"
          class="btn-form prio-btn"
          [ngClass]="{ low: selectedPriority === 'low' }"
        >
          Low
          <img src="assets/images/low.svg" alt="" />
        </div>
        <div
          #medium
          (click)="changePriority('medium')"
          class="btn-form prio-btn"
          [ngClass]="{ medium: selectedPriority === 'medium' }"
        >
          Medium
          <img src="assets/images/medium.svg" alt="" />
        </div>
        <div
          #urgent
          (click)="changePriority('urgent')"
          class="btn-form prio-btn"
          [ngClass]="{ urgent: selectedPriority === 'urgent' }"
        >
          Urgent
          <img src="assets/images/urgent.svg" alt="" />
        </div>
      </div>
    </div>
    <!-- Subtasks -->
    <div class="form-input">
      <label class="title subtask">Subtasks</label>
      <div class="input">
        <input type="text" id="subtask" autocomplete="off" spellcheck="false" />
        <div class="create-sub">
          <img
            (click)="toggleSubtaskInput()"
            *ngIf="!subtaskInputActive"
            src="assets/images/plus.svg"
          />
          <div *ngIf="subtaskInputActive" class="cancel-accept">
            <img
              (click)="toggleSubtaskInput(); clearSubtaskInput()"
              src="assets/images/close.svg"
            />
            <div class="divide"></div>
            <img (click)="addSubtask()" src="assets/images/check.svg" />
          </div>
        </div>
      </div>
      <div class="sub-output">
        <ul>
          <li *ngFor="let subtask of subtasks; let i = index">
            <div class="list-content">
              <span>{{ subtask.text }}</span>
              <img
                (click)="deleteSubtask(i)"
                src="assets/images/delete.svg"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-secondary">Clear</button>
      <button
        class="btn btn-primary"
        [ngClass]="{
          'btn-primary': taskForm.valid,
          'btn-primary-disabled': !taskForm.valid
        }"
        [disabled]="!taskForm.valid"
      >
        Create Task
      </button>
    </div>
  </div>
</form>
