<div class="content-wrapper">
  <header>
    <h1>Add Task</h1>
  </header>
  <div class="content">
    <form class="add-task-wrapper">
      <div class="left">
        <!-- Title -->
        <div class="form-input">
          <label class="title">Title</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
        <!-- Description -->
        <div class="form-input">
          <label class="title">Description</label>
          <div class="input textarea">
            <textarea type="text" id="description"></textarea>
          </div>
        </div>
        <!-- Catagory -->
        <div class="form-input">
          <label class="title">Catagory</label>
          <div class="select">
            <div class="input" (click)="toggleCategoryDropdown()">
              <span class="selecter">Select or create a category</span>
              <img
                [ngClass]="{ rotate90: categoryDropdown }"
                src="assets/images/dropdown.svg"
              />
            </div>
            <div *ngIf="categoryDropdown" class="dropdown">
              <ul>
                <li *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
                  <span>Catagory First</span>
                  <div class="red-circle"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Assign to -->
        <div class="form-input">
          <label class="title">Assign to</label>
          <div class="select">
            <div class="input" (click)="toggleAssigneeDropdown()">
              <span class="selecter">Select or invite contact to assign</span>
              <img
                [ngClass]="{ rotate90: assigneeDropdown }"
                src="assets/images/dropdown.svg"
              />
            </div>
            <div *ngIf="assigneeDropdown" class="dropdown">
              <ul>
                <li
                  (mouseup)="checkbox.checked = !checkbox.checked"
                  *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                >
                  <span>Elon Musk</span>
                  <input #checkbox type="checkbox" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Divide Line -->
      <div class="divide-line"></div>
      <div class="right">
        <!-- Due Date -->
        <div class="form-input">
          <label class="title">Due Date</label>
          <div class="input">
            <input
              type="date"
              id="date"
              [min]="currentDate"
              [value]="currentDate"
            />
          </div>
        </div>
        <!-- Priority -->
        <div class="form-input">
          <label class="title">Priority</label>
          <div class="prio">
            <button
              #urgent
              (click)="changePriority('urgent')"
              class="btn-form"
              [ngClass]="{ urgent: selected === 'urgent' }"
            >
              Urgent
              <img src="assets/images/urgent.svg" alt="" />
            </button>
            <button
              #low
              (click)="changePriority('low')"
              class="btn-form"
              [ngClass]="{ low: selected === 'low' }"
            >
              Low
              <img src="assets/images/low.svg" alt="" />
            </button>
            <button
              #medium
              (click)="changePriority('medium')"
              class="btn-form"
              [ngClass]="{ medium: selected === 'medium' }"
            >
              Medium
              <img src="assets/images/medium.svg" alt="" />
            </button>
          </div>
        </div>
        <!-- Subtasks -->
        <div class="form-input">
          <label class="title">Subtasks</label>
          <div class="input">
            <input type="text" id="subtasks" />
            <div class="create-sub">
              <img *ngIf="false" src="assets/images/plus.svg" />
              <div *ngIf="true" class="cancel-accept">
                <img src="assets/images/close.svg" />
                <div class="divide"></div>
                <img src="assets/images/check.svg" />
              </div>
            </div>
          </div>
          <div class="sub-output">
            <ul>
              <li *ngFor="let i of [1, 2, 3, 4, 5]">
                <div class="list-content">
                  <span>Subtask 1</span>
                  <img src="assets/images/delete.svg" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="buttons">
          <button class="btn btn-secondary">Clear</button>
          <button class="btn btn-primary">Create Task</button>
        </div>
      </div>
    </form>
  </div>
</div>
