<div class="content-wrapper">
  <header>
    <h1>Add Task</h1>
    <div class="buttons">
      <button class="btn btn-secondary">Clear</button>
      <button class="btn btn-primary">Create Task</button>
    </div>
  </header>
  <div class="content">
    <div class="add-task-wrapper">
      <div class="left">
        <!-- Title -->
        <div class="form-input">
          <label for="title">Title</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
        <!-- Description -->
        <div class="form-input">
          <label for="title">Description</label>
          <div class="input textarea">
            <textarea type="text" id="title"></textarea>
          </div>
        </div>
        <!-- Catagory -->
        <div class="form-input">
          <label for="title">Catagory</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
        <!-- Assign to -->
        <div class="form-input">
          <label for="title">Assign to</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
      </div>
      <div class="divide-line"></div>
      <div class="right">
        <!-- Due Date -->
        <div class="form-input">
          <label for="title">Due Date</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
        <!-- Priority -->
        <div class="form-input">
          <label for="title">Priority</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
        <!-- Subtasks -->
        <div class="form-input">
          <label for="title">Subtasks</label>
          <div class="input">
            <input type="text" id="title" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
