<div class="wrapper">
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
    class="login-container"
  >
    <div class="headline poppins">Reset your password</div>
    <div class="login-input">
      <div class="input-box">
        <div class="input">
          <input
            formControlName="password"
            type="password"
            placeholder="New Password"
          />
        </div>
        <div class="icon">
          <img src="assets/images/key_icon.svg" alt="email" />
        </div>
      </div>
      <!--  -->
      <div class="input-box">
        <div class="input">
          <input
            formControlName="password2"
            type="password"
            placeholder="Confirm Password"
          />
        </div>
        <div class="icon">
          <img src="assets/images/key_icon.svg" alt="key" />
        </div>
      </div>
    </div>
    <!-- Login Button -->
    <button
      type="submit"
      [disabled]="!passwordForm.valid"
      [ngClass]="{
        'btn-primary': passwordForm.valid,
        'btn-primary-disabled': !passwordForm.valid
      }"
      class="btn-primary w-full text-center mb-3"
    >
      Change Password
    </button>
    <!-- Guest Login -->
    <button routerLink="/" class="btn-secondary w-full text-center mb-3">
      Nevermind
    </button>
  </form>
</div>
