<div class="wrapper">
  <div class="login-container">
    <div class="headline">Sign in</div>
    <div class="login-input">
      <div class="input-box">
        <div class="input">
          <input type="email" placeholder="Email" />
        </div>
        <div class="icon">
          <img src="assets/images/mail_icon.svg" alt="email" />
        </div>
      </div>
      <!--  -->
      <div class="input-box">
        <div class="input">
          <input type="password" placeholder="Password" />
        </div>
        <div class="icon">
          <img src="assets/images/key_icon.svg" alt="key" />
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div routerLink="/forgot-password" class="forgot-password mb-3">
      <a class="text-sm cursor-pointer">Forgot Password?</a>
    </div>
    <!-- Login Button -->
    <button
      routerLink="/forgot-password"
      class="btn-primary w-full text-center mb-3"
    >
      Sign In
    </button>
    <!-- Guest Login -->
    <button
      routerLink="/dashboard"
      class="btn-secondary w-full text-center mb-3"
    >
      Guest
    </button>
  </div>
  <div class="sign-up-container mt-3" style="gap: 2px !important">
    <span class="text-xs text-right">Don't have an account?</span>
    <button routerLink="/sign-up" class="btn-primary scale-75">Sign Up</button>
  </div>
</div>
