* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f6f7f8;
}

.btn-hover {
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #29abe2 !important;
    box-shadow: 0px 15px 20px rgba(41, 171, 226, 0.1);
  }
}
