<div class="content-wrapper">
  <header>
    <h1>Summary</h1>
    <div class="greetings">
      <span>{{ greetings }}</span>
      <span>{{ loggedUsername }}</span>
    </div>
  </header>
  <div class="content" *ngIf="!isLoading">
    <!-- First Row -->
    <div class="box-row">
      <!-- Box1 -->
      <div class="box" routerLink="/board">
        <span class="number">{{ allTasks.length }}</span>
        <span class="text poppins">Tasks in Board</span>
      </div>
      <!-- Box 2 -->
      <div class="box" routerLink="/board">
        <span class="number">{{ inProgress.length }}</span>
        <span class="text poppins">Tasks in Progress</span>
      </div>
      <!-- Box 3 -->
      <div class="box" routerLink="/board">
        <span class="number">{{ inReview.length }}</span>
        <span class="text poppins">Awaiting Feedback</span>
      </div>
    </div>
    <!-- Second Row -->
    <div class="box-row">
      <!-- Box1 -->
      <div class="box middle" routerLink="/board">
        <div class="left">
          <img src="assets/images/urgentSymbol.svg" alt="summary" />
          <div class="info">
            <span class="number">{{ urgentTasks.length }}</span>
            <span class="text poppins">Urgent</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="right">
          <span class="text">{{ upcomingDeadline }}</span>
          <span class="text poppins">Upcoming Deadline</span>
        </div>
      </div>
    </div>
    <!-- Third Row -->
    <div class="box-row">
      <!-- Box1 -->
      <div class="box bottom" routerLink="/board">
        <div class="symbol">
          <img src="assets/images/pencilToDo.svg" alt="summary" />
        </div>
        <div class="info">
          <span class="number">{{ toDo.length }}</span>
          <span class="text poppins">To-Do</span>
        </div>
      </div>
      <!-- Box 2 -->
      <div class="box bottom" routerLink="/board">
        <div class="symbol">
          <img src="assets/images/doneSymbol.svg" alt="summary" />
        </div>
        <div class="info">
          <span class="number">{{ done.length }}</span>
          <span class="text poppins">Done</span>
        </div>
      </div>
    </div>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
