.contents {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: clamp(5px, 2vw, 30px);
}

.box-row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(5px, 2vw, 30px);
  .box {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #0002;
    border-radius: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    .number {
      font-size: clamp(2.5rem, 10vw, 3.75rem);
      line-height: clamp(2.5rem, 10vw, 3.75rem);
      transition: all 0.2s ease-in-out;
    }
    .text {
      font-size: clamp(0.875rem, 2vw, 1.25rem);
      text-align: center;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      background-color: #2a3647;
      scale: 1.04;
      .text,
      .number {
        color: #fff;
      }
      .line {
        background-color: #fff;
      }
      .symbol {
        filter: invert(1);
        background-color: #000;
      }
    }
  }
}

.middle {
  flex-direction: row !important;
  justify-content: space-evenly !important;
  .left {
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .line {
    background-color: #eee;
    border-radius: 12px;
    height: 100%;
    width: 2px;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.bottom {
  flex-direction: row !important;
  .symbol {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.test {
  height: 600px;
}
